<div class="container">
    <h2>Proyectos</h2>
    <ul>
        <li *ngFor="let project of projects" class="project">
            <a [routerLink]="['/proyecto',project._id]">
                <div class="image">
                    <!-- {{url+'get-image/'+project.image}} ruta de la imagen; ngIf solo muestra si la imagen existe  -->
                    <!-- <img src="{{url+'get-image/'+project.image}}" *ngIf="project.image"> -->
                    <img src="{{'api/get-image/'+project.image}}" *ngIf="project.image">
                </div>
                <h3>{{project.name}}</h3>
                <p>{{project.categoria}}</p>
            </a>
        </li>
    </ul>
</div>